.container_slinder {
    height: 50vh;
    width: 90%;
    margin: 0 auto;
    margin-top: 100px;
   }
  
   .title {
    display: flex;
    justify-content: center;
    color: red;
   }
  
   .card {
      display: flex;
      border: 1px solid #00382A;
      border-radius: 5px;
      background-color: #00382A;
      height: 200px;
  }   
  
  .cards {
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: #D8EC8A;
      border-radius: 5px;
      height: 170px;
      margin: 5%;
  } 
  
  .cards > img {
    height: 160px;
  }
  
  
  .slick-slide > div {
    margin: 0 10px;
  }
  .slick-list {
    margin: 0 -10px;
  }
  
  